#option{
    padding: 15px;
    background-color:hsl(0, 0%, 94%);
    text-align: center;
    color: rgb(16, 11, 11);
    position: absolute;
    border-radius: 10px;
    top: 26%;
    
    left: 70%;
}
.img-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 30px;
}
.image{
    padding: 15px;
    width: 600PX;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    
}
.container{
    padding: 25px;
}
#search-box{
    width: 300px;
    border: 3px solid black;
    padding: 12px 15px ;
    font-size: 20px;
    border-radius: 10px;
}
#btn1{
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
}
#btn{
    width: 90px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(245, 234, 234);
}
body{
    background-color: antiquewhite;
}


